@layer theme, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@import '../../assets/shared-variables.css';

* {
  font-family: 'system-ui';
}

body {
  background-color: var(--default-bg);
  overflow: hidden;
}

.error-box {
  width: 710px;
}

.error-heading {
  color: #bdbdbd;
}
