@layer theme, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@import '../../assets/shared-variables.css';

* {
  font-family: var(--default-font-family);
}

body {
  margin: 0px;
  overflow: hidden;
  background-color: var(--default-bg);
}

.options-container {
  display: flex;
  height: 75px;
  padding-top: 10px;
  background-color: var(--default-bg);
}
