@layer theme, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

* {
  font-family: 'system-ui';
}

body {
  margin: 0px;
  overflow: hidden;
}

.options-container {
  display: flex;
  gap: 30px;
  height: 75px;
  margin-left: 50px;
  padding-top: 10px;
}
