.editor-container {
  width: 100vw;
  height: calc(100vh - 86px);
}

.monaco-editor .scroll-decoration {
  top: 0;
  left: 0;
  height: 0px;
  box-shadow: none !important;
}

/*
* editor whitespace
*/
.monaco-editor .mtkz {
  color: #c6c5c5 !important;
}

.wildcard-decoration {
  color: #767674 !important;
  font-weight: bold;
}

.partial-keyword-decoration {
  color: #767674 !important;
  font-weight: bold;
}
.keyword-decoration {
  color: #bdb4bf !important;
  font-weight: bold;
}
